body {
    background-color: #ebb9d5;
}   
 .inicio {
    background-color: rgb(110, 36, 93);
    color:  #f6eacb;
    display: flex; 
    align-items: center;
    padding: 10px;
    gap: 40px;
 }
.titulo {
    color: rgb(110, 36, 93);
}
.cuerpo {
    color: rgb(110, 36, 93);
}
.zona-final {
    background-color: rgb(110, 36, 93);
    color:  #f6eacb;
    display: flex; 
    align-items: center;
    padding: 1px;
    gap: 5px;
}